extends ../layout

block content
  form(action='/activity/add' method='POST')
    div.component.fixed-header.border-bottom.no-margin
      div.row
        div.float-left
          h2.margin-top #{__('Add new activity')}
        button.button.blue.border.vertical-center.small.right.no-margin-top(type='submit') <i class="fa fa-check"></i> <strong>#{__('Add')}</strong> #{__('activity')}
    
    
    div.edit-row.margin-top-big
      div.container
        div.part-2.no-border
          h3 #{__('Title')}
          span.input.input--hoshi
            input.input__field.input__field--hoshi(type='text' name='static[title]')
            label.input__label.input__label--hoshi
              span.input__label-content.input__label-content--hoshi #{__('Activity title')}
              
          h3.margin-top #{__('Sport')}
          div.select-menu
            select(name='static[sport]')
              each sport in sports
                option(value='#{sport._id}') #{sport.title}
            span.select-menu__top-label
        
                
        div.part-2.border-left.padding-bottom
          h3 #{__('Description')}
                  
          span.input.input--hoshi
            textarea.input__field.input__field--hoshi(rows='1' cols='40' name='static[description]')
            label.input__label.input__label--hoshi
              span.input__label-content.input__label-content--hoshi #{__('Type here summary of your activity')}
          
          div.checkbox.margin-left.sports.clearfix.image-bg.image-public
            input(type="checkbox" name="static[isPublic]" value="true")
            label <span></span> 
              span.img
              p #{__('Public activity')}
          
          
          div.checkbox.margin-left.sports.clearfix.image-bg.image-competition
            input(type="checkbox" name="static[isCompetition]" value="true")
            label <span></span> 
              span.img
              p #{__('Competition')}
              
    div.edit-row
      div.container
        div.part-2
          h3 #{__('Date')}
          span.input.input--hoshi
            input.input__field.input__field--hoshi(type='text' name='static[date]')
            label.input__label.input__label--hoshi
              span.input__label-content.input__label-content--hoshi #{__('dd.mm.yy')}
              
          h3.margin-top #{__('Time')}
          div.clearfix
            span.input.input--hoshi.half.left
              input.input__field.input__field--hoshi(type='text' name='static[time][hours]')
              label.input__label.input__label--hoshi
                span.input__label-content.input__label-content--hoshi #{__('hh')}
                  
            span.input.input--hoshi.half.right
              input.input__field.input__field--hoshi(type='text' name='static[time][minutes]')
              label.input__label.input__label--hoshi
                span.input__label-content.input__label-content--hoshi #{__('mm')}
  
          h3.margin-top #{__('Duration')}
          div.clearfix
            span.input.input--hoshi.part-3
              input.input__field.input__field--hoshi(type='text' name='static[duration][hours]')
              label.input__label.input__label--hoshi
                span.input__label-content.input__label-content--hoshi #{__('hh')}
                
            span.input.input--hoshi.part-3
              input.input__field.input__field--hoshi(type='text' name='static[duration][minutes]')
              label.input__label.input__label--hoshi
                span.input__label-content.input__label-content--hoshi #{__('mm')}
  
            span.input.input--hoshi.part-3
              input.input__field.input__field--hoshi(type='text' name='static[duration][seconds]')
              label.input__label.input__label--hoshi
                span.input__label-content.input__label-content--hoshi #{__('ss')}
  
        div.part-2
          h3 #{__('Distance')}
          div.clearfix
            span.input.input--hoshi
              input.input__field.input__field--hoshi(type='text' name='static[distance]' step='any')
              label.input__label.input__label--hoshi
                span.input__label-content.input__label-content--hoshi #{__('km')}
                
          h3.margin-top #{__('Heart Rate')}
          div.clearfix
            span.input.input--hoshi.half.left
              input.input__field.input__field--hoshi(type='text' name='static[hr][avg]')
              label.input__label.input__label--hoshi
                span.input__label-content.input__label-content--hoshi #{__('avg (bpm)')}
                  
            span.input.input--hoshi.half.right
              input.input__field.input__field--hoshi(type='text' name='static[hr][max]')
              label.input__label.input__label--hoshi
                span.input__label-content.input__label-content--hoshi #{__('max (bpm)')}
                
          h3.margin-top #{__('Speed')}
          div.clearfix
            span.input.input--hoshi.half.left
              input.input__field.input__field--hoshi(type='text' name='static[speed][avg]')
              label.input__label.input__label--hoshi
                span.input__label-content.input__label-content--hoshi #{__('avg (km/h)')}
                        
            span.input.input--hoshi.half.right
              input.input__field.input__field--hoshi(type='text' name='static[speed][max]')
              label.input__label.input__label--hoshi
                span.input__label-content.input__label-content--hoshi #{__('max (km/h)')}      
