extends ../layout-static

block content
  h1 <strong>#{__('Connect')}</strong> #{__('local account')}
  
  if message && message.length
    div.alert-msg.ko
      p <strong>WHOOOP!</strong> #{message}

  div.container
    form.form-static(action='/connect/local' method='POST')
      div.form-static__logo
        a.form-static__logo-link(href='/') <img src='/build/img/logo_full@2x.png' width='125' height='25'/>
        
      div.container
        span.input.input--hoshi
          input.input__field.input__field--hoshi(type='email' name='email' required)
          label.input__label.input__label--hoshi
            span.input__label-content.input__label-content--hoshi #{__('E-mail')}
        
        span.input.input--hoshi
          input.input__field.input__field--hoshi(type='password' name='password' required)
          label.input__label.input__label--hoshi
            span.input__label-content.input__label-content--hoshi #{__('Password')}
        
        div.row.margin-top
          button.button.blue.border.half.center(type='submit') #{__('Send')}
        
        p.center.margin-20 #{__('Back to')} <a href='/profile/#{user.url}'>#{__('Profile!')}</a>
